#!/usr/bin/env bash

use flake

## do not pollute the global cargo repository
export CARGO_HOME="$(pwd)/.cargo"
export PATH="$CARGO_HOME/bin:$PATH"
export RUST_BACKTRACE=full

# allow local .envrc overrides, used for secrets (see .envrc.local-template)
[[ -f .envrc.local ]] && source_env .envrc.local
