[workspace]
members = [
    "crates/beacon-client",
    "crates/api",
    "crates/utils",
    "crates/common",
    "crates/database",
    "crates/datastore",
    "crates/cmd",
    "crates/housekeeper",
    "crates/website",
]
resolver = "2"

[workspace.package]
version = "0.0.1"
rust-version = "1.72.0"
edition = "2021"
repository = "https://github.com/gattaca-com/helix"
license = "MIT OR Apache-2.0"

[workspace.dependencies]
helix-api = { path = "./crates/api" }
helix-beacon-client = { path = "./crates/beacon-client" }
helix-common = { path = "crates/common" }
helix-database = { path = "./crates/database" }
helix-datastore = { path = "./crates/datastore" }
helix-housekeeper = { path = "./crates/housekeeper" }
helix-utils = { path = "./crates/utils" }
helix-website = { path = "./crates/website" }

# Async and Networking 
async-trait = "0.1"
axum = { version = "0.7.4", features = ["ws"] }
dashmap = { version = "5.5.3", features = [] }
futures = "0.3"
hyper = "1.1.0"
http = "1.0.0"
tower = { version = "0.4.13", features = ["full"] }
reqwest = { version = "0.11.23", features = [
  "json",
  "native-tls-vendored",
  "stream",
  "blocking",
] }
tokio = { version = "1.33.0", features = ["full"] }
tokio-stream = { version = "0.1.15", features = ["sync"] }
tower-http = { version = "0.5.1", features = ["limit"] }
url = "2.4"

# Serialization and Data Format 
serde = { version = "1.0.191", features = ["derive"] }
serde_json = "1.0.106"
hex = "0.4.2"

# DB 
deadpool-redis = { version = "0.12.0", features = ["rt_tokio_1"] }
redis = { version = "0.23.2", features = ["aio", "tokio-comp"] }
tokio-postgres = "0.7.10"
deadpool-postgres = "0.11.0"
tokio-postgres-rustls = "0.12.0"
refinery = { version = "0.8", features = ["tokio-postgres"] }
bytes = "1.5.0"
chrono = "0.4.38"

# Ethereum Types
ethereum-consensus = { git = "https://github.com/ralexstokes/ethereum-consensus", rev = "fc049504a200926c8bd5f0fbd3f9696c6c6f699d" }
reth-primitives = { git = "https://github.com/paradigmxyz/reth", rev = "5dd5555c5c7d8e43420e273e7005b8af63a847a5" }

# Logging
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.17", features = ["env-filter"] }
tracing-appender = "0.2.2"

# Testing and Mocking
mockito = "1.1.1"
serial_test = "1.0.0"
tracing-test = "0.2.3"
env_logger = "0.9"

# Misc
auto_impl = "1.0.1"
backtrace = "0.3.69"
thiserror = "1.0.49"
uuid = { version = "1.5", features = ["fast-rng", "v4"] }
rustls = "0.23.14"
rustls-native-certs = "0.8.0"
rustls-pemfile = "2.2.0"

# Broadcasting
fiber = { git = "https://github.com/chainbound/fiber-rs.git", tag = "v0.5.1" }
