name: build

on:
  workflow_dispatch:
  push:
    branches: [main, develop]

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: write
  packages: write

jobs:
  build-relay:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set IMAGE_NAME
        run: |
          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            BRANCH=$(echo "${{ github.head_ref }}" | tr '[:upper:]' '[:lower:]' | tr '/' '-')
            SHORT_SHA=$(echo "${{ github.sha }}" | cut -c1-7)
            IMAGE_NAME="${BRANCH}_${SHORT_SHA}"
          else
            REF_BRANCH=$(echo "${{ github.ref_name }}" | tr '[:upper:]' '[:lower:]' | tr '/' '-')
            IMAGE_NAME="${REF_BRANCH}"
          fi
          echo "IMAGE_NAME=$IMAGE_NAME" >> $GITHUB_ENV

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          file: ./relay.Dockerfile
          tags: |
            ghcr.io/${{ github.repository_owner }}/helix-relay:${{ env.IMAGE_NAME }}
          cache-from: type=registry,ref=ghcr.io/${{ github.repository_owner }}/helix-relay:buildcache
          cache-to: type=registry,ref=ghcr.io/${{ github.repository_owner }}/helix-relay:buildcache,mode=max

  build-simulator:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set IMAGE_NAME
        run: |
          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            BRANCH=$(echo "${{ github.head_ref }}" | tr '[:upper:]' '[:lower:]' | tr '/' '-')
            SHORT_SHA=$(echo "${{ github.sha }}" | cut -c1-7)
            IMAGE_NAME="${BRANCH}_${SHORT_SHA}"
          else
            REF_BRANCH=$(echo "${{ github.ref_name }}" | tr '[:upper:]' '[:lower:]' | tr '/' '-')
            IMAGE_NAME="${REF_BRANCH}"
          fi
          echo "IMAGE_NAME=$IMAGE_NAME" >> $GITHUB_ENV

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          file: ./simulator.Dockerfile
          tags: |
            ghcr.io/${{ github.repository_owner }}/helix-simulator:${{ env.IMAGE_NAME }}
          cache-from: type=registry,ref=ghcr.io/${{ github.repository_owner }}/helix-simulator:buildcache
          cache-to: type=registry,ref=ghcr.io/${{ github.repository_owner }}/helix-simulator:buildcache,mode=max
